@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500&amp;subset=latin-ext');

body {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}

.center {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.09);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.card > .content {
  padding: 32px;
}

.card form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #4a4a4a;
  margin: 26px 0;
}

.card img {
  margin-top: 40px;
  margin-bottom: 0;
  width: 72px;
  height: 72px;
}

.form-item {
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #ebebeb;
  font-size: 16px;
  line-height: 40px;
  text-indent: 8px;
  margin-bottom: 24px;
}

.form-submit {
  color: #fff;
  background-color: #f36f2d;
  border: none;
  transition: 0.3s opacity ease;
  border-radius: 4px;
  height: 40px;
  text-transform: unset;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.form-submit:hover { opacity: 0.7; }
